<div class="main">
    <div class="container">
        <div class="main__content">

            <div class="main__content__pain-treatment">
                <img src="./img/Rectangle2.png" class="pain-treatment__img">
                <div class="pain-treatment__info">
                    <h2 class="pain-treatment__info__title">Comprehensive Pain Treatment</h2>
                    <div class="pain-treatment__info__text">Healthy Spine Family Chiropractic was created for the
                    necessity<br> of custom made chiropractic treatment for all ages. We understand that not all bodies are
                    the same and so your chiropractic treatment will be tailored to you. Healthy Spine Family
                    Chiropractic was created for the necessity of custom made chiropractic treatment for all ages. We
                    understand that not all bodies are the same and so your chiropractic treatment will be tailored to
                    you. Healthy Spine Family Chiropractic was created for the necessity of custom made chiropractic
                    treatment for all ages. We understand that not all bodies are the same and so your chiropractic
                    treatment will be tailored<br> to you.</div>
                    <div class="pain-treatment__info__button">LEARN MORE</div>
                </div>
            </div>
            <div class="img__bg-second"></div>


            <div class="main__content-first__services">
                <h2 class="services__title">Services</h2>
                <div class="services__card-chiropractic">
                    <img src="./img/Rectangle3.4.png" class="card-chiropractic__img">
                    <h3 class="card-chiropractic__title">Chiropractic</h3>
                    <p class="card-chiropractic__text">Chiropractic care is a unique science that<br> focuses on restoring and
                        maintaining health, while most other healing arts are designed to treat disease.</p>
                    <div class="card-chiropractic__links">
                        <a href="" class="links__chiropractic">CHIROPRACTIC ADJUSTMENT</a>
                        <a href="" class="links__distraction">FLEXION-DISTRACTION</a>
                        <a href="" class="links__thompson">THOMPSON</a>
                        <a href="" class="links__all">VIEW All SERVICES</a>
                    </div>
                </div>
                <div class="services__card-acupuncture">
                    <img src="./img/Rectangle3.12.png" class="card-acupuncture__img">
                    <h3 class="card-acupuncture__title">Acupuncture</h3>
                    <p class="card-acupuncture__text">Healthy Spine Family Chiropractic, serves the<br> Thornton and 
                        surrounding communities and<br> it provides a natural, conservative approach<br> to 
                        your health care.</p>
                    <div class="card-acupuncture__links">
                        <a href="" class="links__cupping">CUPPING</a>
                        <a href="" class="links__chinese-herbs">CHINESE HERBS</a>
                    </div>
                </div>
            </div>

            <div class="main__content-second__services">
                <div class="services__card-massage">
                    <img src="./img/Rectangle3.6.png" class="card-massage__img">
                    <h3 class="card-massage__title">Massage</h3>
                    <p class="card-massage__text">Healthy Spine Family Chiropractic, serves the
                         Thornton and surrounding communities and<br> it provides a natural, 
                         conservative approach<br> to your health care.</p>
                    <div class="card-massage__links">
                        <a href="" class="links__tissue">DEEP TISSUE</a>
                        <a href="" class="links__trigger">TRIGGER POINT</a>
                        <a href="" class="links__massage">SPORT MASSAGE</a>
                        <a href="" class="links__myofascial">MYOFASCIAL RELEASE</a>
                    </div>
                </div>
            </div>

            <div class="main__content__advantages">

            </div>

    </div>
</div>